In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("airbnb_sales_data.csv")
df.head()

C:\Users\Michelle Benny\AppData\Local\Temp\ipykernel_21876\2141645333.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("airbnb_sales_data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [31]:
df['Construction year'] = pd.to_numeric(df['Construction year'], errors = 'coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102058 entries, 0 to 102057
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102058 non-null  int64
 1   NAME                            101808 non-null  object
 2   host id                         102058 non-null  int64
 3   host_identity_verified          101769 non-null  object
 4   host name                       101654 non-null  object
 5   neighbourhood group             102029 non-null  object
 6   neighbourhood                   102042 non-null  object
 7   lat                             102050 non-null  float64
 8   long                            102050 non-null  float64
 9   country                         101526 non-null  object
 10  country code                    101927 non-null  object
 11  instant_bookable                101953 non-null  object
 12  cancellation_policy             101982 non-null  object
 13  room type                       102058 non-null  object
 14  Construction year               102058 non-null  int64
 15  price                           101811 non-null  object
 16  service fee                     101785 non-null  object
 17  minimum nights                  101658 non-null  float64
 18  number of reviews               101875 non-null  float64
 19  last review                     86226 non-null   object
 20  reviews per month               86240 non-null   float64
 21  review rate number              101739 non-null  float64
 22  calculated host listings count  101739 non-null  float64
 23  availability 365                101610 non-null  float64
 24  house_rules                     50216 non-null   object
 25  license                         2 non-null       object
 26  listing_id                      102058 non-null  int64
 27  neighbourhood_group_id          102028 non-null  float64
dtypes: float64(9), int64(4), object(15)
memory usage: 21.8+ MB

In [33]:
df = df.drop_duplicates().reset_index(drop=True)
df['listing_id'] = df.index

In [34]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,listing_id,neighbourhood_group_id
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,0,1.0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,1,2.0
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,2,2.0
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN,3,1.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,4,2.0

In [9]:
dim_host = df[['host id', 'host name', 'host_identity_verified']].reset_index(drop=True)

In [10]:
dim_host['dim_host_id'] = dim_host.index

In [11]:
dim_host

            host id host name host_identity_verified  dim_host_id
0       80014485718  Madaline            unconfirmed            0
1       52335172823     Jenna               verified            1
2       78829239556     Elise                    NaN            2
3       85098326012     Garry            unconfirmed            3
4       92037596077    Lyndon               verified            4
...             ...       ...                    ...          ...
102053  77326652202    Mariam            unconfirmed       102053
102054  45936254757      Trey               verified       102054
102055  23801060917   Michael               verified       102055
102056  15593031571   Shireen            unconfirmed       102056
102057  93578954226   Stanley               verified       102057

[102058 rows x 4 columns]

In [15]:
dim_room_type = df[['room type']].reset_index(drop=True)
dim_room_type['room_type_id'] = dim_room_type.index
dim_room_type

              room type  room_type_id
0          Private room             0
1       Entire home/apt             1
2          Private room             2
3       Entire home/apt             3
4       Entire home/apt             4
...                 ...           ...
102053     Private room        102053
102054     Private room        102054
102055  Entire home/apt        102055
102056     Private room        102056
102057  Entire home/apt        102057

[102058 rows x 2 columns]

In [16]:
dim_cancellation_policy = df[['cancellation_policy']].reset_index(drop=True)
dim_cancellation_policy['cancellation_policy_id'] = dim_cancellation_policy.index
dim_cancellation_policy.head()

  cancellation_policy  cancellation_policy_id
0              strict                       0
1            moderate                       1
2            flexible                       2
3            moderate                       3
4            moderate                       4

In [20]:
spelling_corrections = {
    'brookln': 'Brooklyn',
    'brooklyn': 'Brooklyn',
    'manhattan' : 'Manhattan',
    'queens' : 'Queens',
    'bronx' : 'Bronx',
    'statens island' : 'Staten Island'
}
df['neighbourhood group'] = df['neighbourhood group'].replace(spelling_corrections)
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,listing_id
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,1
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,2
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN,3
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,4

In [23]:
borough_neighbourhood_id = {
    'Brooklyn' : 1,
    'Manhattan' : 2,
    'Queens' : 3,
    'Bronx' : 4,
    'Staten Island' : 5
}

df['neighbourhood_group_id'] = df['neighbourhood group'].map(borough_neighbourhood_id)
df.head()
    
dim_neighbourhood = df[['neighbourhood group', 'neighbourhood_group_id', 'neighbourhood', 'lat', 'long', 'country', 'country code']].reset_index(drop=True)
dim_neighbourhood['neighbourhood_id'] = dim_neighbourhood.index
dim_neighbourhood.head()

,neighbourhood group,neighbourhood_group_id,neighbourhood,lat,long,country,country code,neighbourhood_id
0,Brooklyn,1.0,Kensington,40.64749,-73.97237,United States,US,0
1,Manhattan,2.0,Midtown,40.75362,-73.98377,United States,US,1
2,Manhattan,2.0,Harlem,40.80902,-73.94190,United States,US,2
3,Brooklyn,1.0,Clinton Hill,40.68514,-73.95976,United States,US,3
4,Manhattan,2.0,East Harlem,40.79851,-73.94399,United States,US,4

In [24]:
dim_listing_details = df[['listing_id', 'NAME', 'house_rules', 'license']].reset_index(drop=True)
dim_listing_details.head()

,listing_id,NAME,house_rules,license
0,0,Clean & quiet apt home by the park,Clean up and treat the home the way you'd like...,NaN
1,1,Skylit Midtown Castle,Pet friendly but please confirm with me if the...,NaN
2,2,THE VILLAGE OF HARLEM....NEW YORK !,"I encourage you to use my kitchen, cooking and...",NaN
3,3,NaN,NaN,NaN
4,4,Entire Apt: Spacious Studio/Loft by central park,"Please no smoking in the house, porch or on th...",NaN

In [27]:
dim_listing_details= dim_listing_details.dropna(axis=1, how = 'all')
dim_listing_details.head()

,listing_id,NAME,house_rules,license
0,0,Clean & quiet apt home by the park,Clean up and treat the home the way you'd like...,NaN
1,1,Skylit Midtown Castle,Pet friendly but please confirm with me if the...,NaN
2,2,THE VILLAGE OF HARLEM....NEW YORK !,"I encourage you to use my kitchen, cooking and...",NaN
3,3,NaN,NaN,NaN
4,4,Entire Apt: Spacious Studio/Loft by central park,"Please no smoking in the house, porch or on th...",NaN

In [48]:
# 1️⃣ Create safe lookups for each dimension (drop duplicates on the business key)
room_type_lookup = dim_room_type[['room type', 'room_type_id']].drop_duplicates(subset=['room type'])
cancellation_lookup = dim_cancellation_policy[['cancellation_policy', 'cancellation_policy_id']].drop_duplicates(subset=['cancellation_policy'])
neighbourhood_lookup = dim_neighbourhood[['neighbourhood group', 'neighbourhood', 'neighbourhood_id']].drop_duplicates(subset=['neighbourhood group', 'neighbourhood'])

# 2️⃣ Build the fact table in one go
fact_listings = (
    df.copy()
    # merge room type
    .merge(room_type_lookup, on='room type', how='left')
    # merge cancellation policy
    .merge(cancellation_lookup, on='cancellation_policy', how='left')
    # merge neighbourhood
    .merge(neighbourhood_lookup, on=['neighbourhood group', 'neighbourhood'], how='left')
)[[
    'listing_id',                     # from df
    'host id',                        # natural key
    'neighbourhood_id',
    'room_type_id',
    'cancellation_policy_id',
    'price',
    'service fee',
    'minimum nights',
    'number of reviews',
    'reviews per month',
    'review rate number',
    'calculated host listings count',
    'availability 365',
    'Construction year',
    'last review',
    'instant_bookable'
]].drop_duplicates()

In [49]:
pip install pandas-gbq --upgrade

Requirement already satisfied: pandas-gbq in c:\anaconda\lib\site-packages (0.32.0)
Requirement already satisfied: setuptools in c:\anaconda\lib\site-packages (from pandas-gbq) (68.2.2)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in c:\anaconda\lib\site-packages (from pandas-gbq) (1.5.0)
Requirement already satisfied: numpy>=1.18.1 in c:\anaconda\lib\site-packages (from pandas-gbq) (1.26.4)
Requirement already satisfied: pandas<3.0.0,>=1.1.4 in c:\anaconda\lib\site-packages (from pandas-gbq) (2.1.4)
Requirement already satisfied: pyarrow>=4.0.0 in c:\anaconda\lib\site-packages (from pandas-gbq) (14.0.2)
Requirement already satisfied: pydata-google-auth>=1.5.0 in c:\anaconda\lib\site-packages (from pandas-gbq) (1.9.1)
Requirement already satisfied: psutil>=5.9.8 in c:\anaconda\lib\site-packages (from pandas-gbq) (7.2.1)
Requirement already satisfied: google-api-core<3.0.0,>=2.15.0 in c:\anaconda\lib\site-packages (from pandas-gbq) (2.28.1)
Requirement already satisfied: google-auth>=2.14.1 in c:\anaconda\lib\site-packages (from pandas-gbq) (2.41.1)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in c:\anaconda\lib\site-packages (from pandas-gbq) (1.2.3)
Requirement already satisfied: google-cloud-bigquery<4.0.0,>=3.20.0 in c:\anaconda\lib\site-packages (from pandas-gbq) (3.39.0)
Requirement already satisfied: packaging>=22.0.0 in c:\anaconda\lib\site-packages (from pandas-gbq) (25.0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\anaconda\lib\site-packages (from google-api-core<3.0.0,>=2.15.0->pandas-gbq) (1.72.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in c:\anaconda\lib\site-packages (from google-api-core<3.0.0,>=2.15.0->pandas-gbq) (6.33.2)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in c:\anaconda\lib\site-packages (from google-api-core<3.0.0,>=2.15.0->pandas-gbq) (1.27.0)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in c:\anaconda\lib\site-packages (from google-api-core<3.0.0,>=2.15.0->pandas-gbq) (2.31.0)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in c:\anaconda\lib\site-packages (from google-auth>=2.14.1->pandas-gbq) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\anaconda\lib\site-packages (from google-auth>=2.14.1->pandas-gbq) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\anaconda\lib\site-packages (from google-auth>=2.14.1->pandas-gbq) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\anaconda\lib\site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (2.0.0)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in c:\anaconda\lib\site-packages (from google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (2.5.0)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in c:\anaconda\lib\site-packages (from google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (2.8.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in c:\anaconda\lib\site-packages (from google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas<3.0.0,>=1.1.4->pandas-gbq) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\anaconda\lib\site-packages (from pandas<3.0.0,>=1.1.4->pandas-gbq) (2023.3)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in c:\anaconda\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (1.76.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in c:\anaconda\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (1.76.0)
Requirement already satisfied: google-crc32c<2.0.0,>=1.0.0 in c:\anaconda\lib\site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (1.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\anaconda\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.14.1->pandas-gbq) (0.4.8)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.15.0->pandas-gbq) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.15.0->pandas-gbq) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.15.0->pandas-gbq) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.15.0->pandas-gbq) (2024.2.2)
Requirement already satisfied: oauthlib>=3.0.0 in c:\anaconda\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.3.1)
Requirement already satisfied: typing-extensions~=4.12 in c:\anaconda\lib\site-packages (from grpcio<2.0.0,>=1.33.2->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery<4.0.0,>=3.20.0->pandas-gbq) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [37]:
import os

# Replace with the path to your JSON file
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/Michelle/Downloads/bigquery-uploader.json"

In [39]:
from pandas_gbq import to_gbq

project_id = "my-airbnb-project-483309"
dataset_id = "airbnb_etl"

# Upload fact table
to_gbq(fact_listings, f"{dataset_id}.fact_listings", project_id=project_id, if_exists="replace")

# Upload dimension tables
to_gbq(dim_host, f"{dataset_id}.dim_host", project_id=project_id, if_exists="replace")
to_gbq(dim_room_type, f"{dataset_id}.dim_room_type", project_id=project_id, if_exists="replace")
to_gbq(dim_neighbourhood, f"{dataset_id}.dim_neighbourhood", project_id=project_id, if_exists="replace")
to_gbq(dim_cancellation_policy, f"{dataset_id}.dim_cancellation_policy", project_id=project_id, if_exists="replace")
to_gbq(dim_listing_details, f"{dataset_id}.dim_listing_details", project_id=project_id, if_exists="replace")

# Repeat for any other dimensions

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=LhPpNB7fSARFlEF5G4q48mHsMPYiNX&prompt=consent&access_type=offline

100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00, 145.81it/s]
100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<?, ?it/s]

In [51]:
fact_listings.head()

,listing_id,host id,neighbourhood_id,room_type_id,cancellation_policy_id,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,Construction year,last review,instant_bookable
0,0,80014485718,0,0,0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0,2020,10/19/2021,False
1,1,52335172823,1,1,1,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0,2007,5/21/2022,False
2,2,78829239556,2,0,2,$620,$124,3.0,0.0,NaN,5.0,1.0,352.0,2005,NaN,True
3,3,85098326012,3,1,1,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0,2005,7/5/2019,True
4,4,92037596077,4,1,1,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0,2009,11/19/2018,False

In [54]:
import os
from pandas_gbq import to_gbq

# Make sure your service account is set
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/Michelle/Downloads/bigquery-uploader.json"

project_id = "my-airbnb-project-483309"
dataset_id = "airbnb_etl"

# Replace the existing fact_listings table with the updated version
to_gbq(
    fact_listings,
    f"{dataset_id}.fact_listings",
    project_id=project_id,
    if_exists="replace"
)

100%|██████████| 1/1 [00:00<?, ?it/s]